<h2><%= current_user.name %>'s Listings</h2>

<div class="container">
  <% @listings.each do |listing| %>
    <div class="container" id="listing-address">
    <a href="/listings/<%= listing.id %>"><%= image_tag listing.image.url(:medium) %></a><br>
      <%= listing.address %><br>
    </div>
  <% end %>
  <br>
</div>
<div class="container">
  <%= link_to "Add Listing", new_listing_path, :class => "btn btn-success" %>
</div>
