<div id="add-listing">
  <%= link_to "Add Listing", new_listing_path, :class => "btn btn-success" %>
</div>

<h2><%= current_user.name %>'s Listings</h2>


<div class="row">
  <% @listings.each do |listing| %>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <%= image_tag listing.image.url(:thumb) %>
        <div class="caption">
          <h4><%= listing.address %>, <%= listing.city %></h4>
          <p class="short_description"><%= listing.description.split[0...6].join(' ') %></p>
          <p><%= link_to "View Listing", listing_path(listing), :class => "btn btn-primary" %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>




