<h2><%= @listing.address %></h2>


<p>Property Type: <%= @listing.property_type %></p>
<p><%= @listing.address %><br>
  <%= @listing.city %>,<%= @listing.state %> <%= @listing.zipcode %></p>
<p>Accomodates: <%= @listing.number_of_people %></p>
<p>Cost per night: $<%= @listing.price_per_night %></p>

<% if user_signed_in? %>
  <%= link_to "Edit listing", edit_listing_path(@listing), class: "btn btn-success" %>
<% else %>
  <%= link_to "Book this property", root_url, class: "btn btn-primary" %>
<% end %>
<%= link_to "Home", root_url, class: "btn btn-default" %>


