<!DOCTYPE html>
<html>
<head>
  <title>OpenHome</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <% if flash[:notice] %>
      <div class="well bg-success">
        <%= flash[:notice] %>
      </div>
    <% elsif flash[:alert] %>
      <div class="well bg-danger">
        <%= flash[:alert] %>
      </div>
    <% end %>
    <%= yield %>
  </div>
</body>
</html>
